<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="registration.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">

        <div class="logo"> 
            <h1>Track</h1>
        </div>
    
        <div id="navbar">
            <div class="nav-1">
            
                <a href="index.html">Home</a>
                <a href="#">About Us</a>
                <a href="#">Blogs</a>
            </div>

            <div class="nav-2">
                <a href="registration.html">Sign Up</a>
                <a href="login.html">Sign In</a>
                
            </div>              
        </div>
        
        <div class="menu-icon">

            <img src="menu.png" onclick="menu()">

        </div>
    </div>
 
</div>  
    

        <div class="box">
            <h1 id="sup">Sign In</h1>
            

            
                <form action="/register" method="post" autocomplete="off">
                
                <input class="inp" type="email" placeholder="E-mail" name="email" >
                <input class="inp" type="password" placeholder="Password" name="pass">
                
                <input id="sbtn" type="submit" value="Login">
                </form>
            
        </div>
        <div class="bottom">
    
        </div>
</body>
</html>