<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/register" method="post">
        <input type="text" placeholder="Name" name="name">
        <input type="email" placeholder="E-mail" name="email">
        <input type="password" placeholder="Password" name="pass">
        <input type="number" placeholder="Contact no." name="contact">
        <input type="submit" value="Submit">
        </form>
    </div>
    <h3><%=name1%></h3>
    <h3><%=email1%></h3>
    <h3><%=pass1%></h3>
    <h3><%=contact1%></h3>
</body>
</html>